/*
.App {
  text-align: center;
}
*/
 html{
   scroll-behavior: smooth;
   font-size: 14px;
 }

 h1{
   font-weight: 900;
   font-size: calc(1rem + 3vw);
   color: white;
 }
 h2{
   font-weight: 900;
   font-size: calc(1rem + 1.5vw);
   color: white;
 }
 li{
  font-size: calc(0.6rem + 1vw);
 }
 p{
   font-weight: 500;
   font-size: calc(0.75rem + 1vw);
   color: white;
 }
 a{
   font-weight: 900;
   font-size: calc(0.6rem + 1vw);
   color: white;
 }
/*
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/


